
/* Fuentes */

@font-face {
    font-family: 'gobCL';
    src: url('../fonts/gobCL/gobCL_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gobCL';
    src: url('../fonts/gobCL/gobCL_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}

body {
    font-family: 'gobCL', sans-serif !important;
}


html {
    scroll-behavior: smooth !important;

}




/* Estilos para el ícono de WhatsApp flotante */
.whatsapp-float {
    position: fixed;
    bottom: 45px;
    right: 30px;
    background-color: #25d366; /* Color de WhatsApp */
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.whatsapp-float:hover {
    background-color: #128c7e; /* Cambia el color al pasar el mouse */
}

.whatsapp-icon {
    margin-top: 1px; /* Ajusta la posición del ícono si es necesario */
}



/* Estilos para el ícono de Scroll UP flotante */
.scroll-up {
    position: fixed;
    bottom: 100px;
    right: 20px;
    color: #4b4b4b;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 45px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}



.scroll-up {
    margin-top: 1px; /* Ajusta la posición del ícono si es necesario */
}









/* Asegura que el navbar no cambie de tamaño */
.navbar {
    background-color: #ffffff;
}

.navbar-nav {
    margin-bottom: 2rem !important;
}

.bg-color-nav {
    background-color: #ffffff;
}

.contenedor-logo img {
    width: 100%;
    max-width: 250px;
}

.nav-item a {
    margin-left: 1rem;
}

.bgcontacto {
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #a68e7b;
    border: 2px solid #a68e7b;
    padding: 0 5px;
    margin-left: -1rem;
    text-decoration: none;
    color: #a68e7b;
    margin-left: 10px !important;
}

.bgcontacto:hover {
    background-color: #a68e7b;
    color: white !important;
}

/* Estilo base para el dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    font-size: 13px !important;
}

/* Estilo del botón del dropdown */
.dropbtn {
    color: white; /* Color del texto */
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block; /* Asegura que no afecte el layout */
}

/* Contenido del dropdown, inicialmente oculto */
.dropdown-content {
    display: none;
    position: absolute !important; /* Posiciona el dropdown fuera del flujo normal */
    background-color: #ffffff !important; /* Color de fondo */
    min-width: 466px;
    z-index: 1 !important;
    top: 75%; /* Se coloca justo debajo del botón */
    left: 0; /* Se alinea a la izquierda */
    border-radius: 15px;
}

/* Elementos dentro del dropdown */
.dropdown-content a {
    color: white !important;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 10px !important;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: #a68e7b9c;
}

/* Cambio de color al pasar el cursor sobre los elementos */
.dropdown-content a:hover {
    background-color: #796555;
}

/* Mostrar el dropdown al pasar el cursor sobre el botón */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Ajustes para el desplazamiento y la altura */
html {
    scroll-behavior: smooth; /* Desplazamiento suave */
}

/* Asegúrate de agregar scroll-margin-top a tus secciones */
section {
    scroll-margin-top: 0px; /* Ajusta según la altura de tu navbar */
}

/* Estilo para navbar fija y ajustada */
.navbar-custom {
    position: fixed; /* Deja la navbar fija */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 80px; /* Ajusta según la altura de tu navbar */
}

/* Ajustar el z-index del dropdown */
.dropdown-content {
    z-index: 1050; /* Asegura que esté encima de otros elementos */
}


.navbar-collapse {
    background: white;
    border-bottom: 0px solid #ffffff; /* Color y grosor del borde inferior */
    border-bottom-left-radius: 15px; /* Radio de la esquina inferior izquierda */
    border-bottom-right-radius: 15px; /* Radio de la esquina inferior derecha */
}


.navbar-nav .dropdown-menu {
    margin: 1rem;
}








/*----------------------------------------------------------------------------------------------------- Servicios ------------------------------------------------------------------------------------------------------------ */ 

.section-1 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

.section-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e5d4c2;
    opacity: 0.6; /* Ajusta la opacidad según prefieras */
    z-index: 1;
}

.section-1 * {
    position: relative;
    z-index: 2;
}

.container-logo{
    display: flex;
    align-items: center;
    padding-left: 5rem;
}



.title-container {
    display: flex;
    height: 80vh;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
}


.titulo-sec1{
    margin: 6rem 6rem;
    text-align: center;
}

.titulo-sec1 h1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    color: black;
    text-align: center;
    margin-bottom: 0rem;
}


.titulo-sec1 p{
    color: black;
    font-size: 16px;
}

.button-title i{
    color: #734d4e;
    font-size: 40px;
    margin: 5px;
}

.button-title i:hover{
    color: #a68e7b;
}


.form-contac1 {
    text-align: center;
    background-color: white;
    border-radius: 15px;
    max-width: 40rem;
    margin: 0px 10rem;
}

.form-contac1 h2 {
    font-size: 20px;
    font-weight: bold;
    background-color: #a68e7b;
    padding: 1rem 4rem;
    color: white;
}

#contactForm1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
    align-items: center;
}


.form-contac1 input,
.form-contac1 textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1.5px solid #474747;
    font-size: 15px;
}

.form-contac1 textarea {
    resize: vertical;
    height: 100px;
}

.form-contac1 input::placeholder, 
.form-contac1 textarea::placeholder {
    color: #474747; /* Puedes cambiarlo a otro color */
    opacity: 1; /* Asegura que el color sea visible en algunos navegadores */
}

.form-contac1 button {
    width: 27%;
    padding: 5px;
    background-color: #5b5b5b;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
}

.form-contac1 button:hover {
    background-color: #a68e7b;
}


@media (max-width: 600px) {

    .title-container {
        height: 100vh;
    }

    .titulo-sec1{
        padding: 1rem 1rem 4rem 1rem;
        margin: 0;
    }


    .titulo-sec1 h1{
        font-size: 25px;
    }

    .titulo-sec1 p{
        font-size: 15px;
    }

    .form-contac1 {
        margin: 0px 1rem ;
    }

}


@media (max-width: 380px) {

    .title-container {
        height: 130vh;
    }


}






/*----------------------------------------------------------------------------------------------------- Servicios ------------------------------------------------------------------------------------------------------------ */ 



.practice-areas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    padding: 50px 20px;
}
.practice-areas h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}
.areas-container {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    max-width: 100%;
    flex-direction: column;
}
.area {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    width: 100%;
    text-align: center;
    display: flex;
    transition: transform 0.3sease -in-out;
    flex-direction: column;
    align-items: center;
}

.area h3 {
    font-size: 24px;
    color: #444;
    margin-bottom: 15px;
    text-align: center;
}
.area ul {
    list-style: none;
    padding: 0;
}
.area li {
    font-size: 18px;
    padding: 8px 0;
    color: #666;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}
.area i {
    font-size: 30px;
    color: #a68e7b;
    margin-bottom: 10px;
}
.area li i {
    font-size: 16px;
    color: #a68e7b;
}








/*----------------------------------------------------------------------------------------------------- Seccion 2 ------------------------------------------------------------------------------------------------------------ */ 



.legal-services {
    min-height: 100vh;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
}

.legal-services a {
    text-decoration: none;
}


.legal-services h2 {
    text-align: center;
    color: #734d4e;
    font-size: 28px;
    margin-top: 5rem;
    margin-bottom: 20px;
}


.legal-services-container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 7rem;
}


.service-category {
    margin-bottom: 30px;
    padding: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    max-width: 500px;
    min-height: 30rem;
    margin: 1.5rem;
}

.service-category h3 {
    color: #a68e7b;
    font-size: 22px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.service-category h3 i {
    margin-right: 8px;
}

ul {
    list-style: none;
    padding-left: 20px !important;
}

ul li {
    font-size: 15px;
    margin: 8px 0;
    display: flex;
    align-items: center;
}

ul li i {
    margin-right: 10px;
    color: #a68e7b;
}

.contact-us {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #734d4e;
    margin-top: 20px;
}










@media (max-width: 1600px) {

    .service-category {
        margin-bottom: 30px;
        padding: 2rem;
    }

 }


 @media (max-width: 1400px) {

    .service-category {
        margin-bottom: 30px;
        padding: 3rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        max-width: 500px;
        min-height: 0px;
        margin: 1.5rem;
    }

    .legal-services-container{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
 }


 @media (max-width: 1300px) {

    .service-category {
        margin-bottom: 30px;
        padding: 1rem;
    }

    



 }























.ley-karim{
    display: flex;
    position: relative;
    width: 100%;
    min-height: 115vh;
    background-color: #fff4eb;
    flex-direction: column;
    justify-content: center;
}


.contenedor-leykarim{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.leykarim-right{
    max-width: 700px;
    margin: 0rem;
}

.leykarim-right h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #b0927b;
    padding: 10px 0px;
}

.texto-diferente{
    background-color: #734d4e !important;
}

.leykarim-right p {
    font-size: 15px;
    text-align: justify;
    margin: 0rem 2rem 2rem 2rem;

}












.legal-services {
    min-height: 100vh;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
}

.legal-services h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 20px;
}


.legal-services-container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 7rem;
}


.service-category {
    margin-bottom: 30px;
    padding: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    max-width: 500px;
    min-height: 30rem;
    margin: 1.5rem;
}

.service-category h3 {
    color: #a68e7b;
    font-size: 22px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.service-category h3 i {
    margin-right: 8px;
}

ul {
    list-style: none;
    padding-left: 20px !important;
}

ul li {
    font-size: 15px;
    margin: 8px 0;
    display: flex;
    align-items: center;
}

ul li i {
    margin-right: 10px;
    color: #a68e7b;
}

.contact-us {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #734d4e;
    margin-top: 50px;
}










@media (max-width: 1600px) {

    .service-category {
        margin-bottom: 30px;
        padding: 2rem;
    }

 }


 @media (max-width: 1400px) {

    .service-category {
        margin-bottom: 30px;
        padding: 3rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        max-width: 500px;
        min-height: 0px;
        margin: 1.5rem;
    }

    .legal-services-container{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
 }


 @media (max-width: 1300px) {

    .service-category {
        margin-bottom: 30px;
        padding: 1rem;
    }

    



 }





















.section-5 {
    width: 100%;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff4eb;
}

.section-5 h1{
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-top: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}


.carousel2 {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slides-container2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide2 {
    min-width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.review-card2 {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 23rem;
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para cada miembro del equipo */
.team-member {
    text-align: center;
    padding: 0px 60px;
    border-radius: 10px;
}

/* Imagen redonda */
.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Nombre del perfil */
.profile-name {
    font-size: 1.5em;
    margin-top: 10px;
    color: #333;
    margin-bottom: 0px;
}


.review-card2 h3 {
    font-family: 'gobCL', sans-serif;
    font-weight: bold;
    color: #c79e6a;
    margin-bottom: 5px;
    font-size: 1.4em;
}


.comment2 {
    color: #545454;
    line-height: 1.6;
    font-size: 0.9em;
    margin: 0rem 1rem;
    text-align: justify;
}

.nav-button2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #545454;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 1.5em;
    transition: all 0.3s;
}

.nav-button2:hover {
    background: #545454ab;
}

.prev2 {
    left: 20px;
}

.next2 {
    right: 20px;
}

.indicators2 {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #545454;
    cursor: pointer;
    transition: background 0.3s;
}

.indicator2.active2 {
    background: #c5914c;
}

@media screen and (max-width: 1320px) {


    .nav-button2{
        padding: 10px 5px;
    }
    
}










.centro-mediacion-priv{
    display: flex;
    position: relative;
    width: 100%;
    min-height: 14vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.contenedor-cmp {
    position: relative; /* Necesario para que el ::before se posicione correctamente */
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;
    z-index: 1; /* Asegura que el contenido esté por encima del pseudo-elemento */
}

.contenedor-cmp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432); /* Color negro con 60% de opacidad */
    z-index: -1; /* Envía el filtro al fondo para que no cubra el contenido */
}


.botoncmp h2{
    font-size: 18px;
    margin: 2rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}



.contenedor-cmp button {
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: #b0927b;
    color: white;
}

.contenedor-cmp button:hover {
    background: #734d4e;
    color: white;
}


















/*----------------------------------------------------------------------------------------------------- Contacto ------------------------------------------------------------------------------------------------------------ */ 


.contacto {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

/* Contenedor del formulario */
.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #fff4eb;
    border-radius: 10px;
    color: #a68e7b;
    z-index: 2;
    /* max-width: 29rem; */
    justify-content: center;
    align-items: center;
}

/* Formulario */
#contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.contact-form {
    display: flex;
    max-width: 36rem;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.form-container img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 4rem;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}


.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.contact-form button {
    width: 30%;
    padding: 8px 10px;
    background-color: #486f98;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    letter-spacing: 4px;
}

.contact-form button:hover {
    background-color: #203347;
}

/* Contenedor de la imagen con corte diagonal */



/* Mensaje de agradecimiento */
.thank-you-message {
    margin-top: 20px;
    text-align: start;
    color: #454545;
    font-size: 20px;
}

/* Redes sociales */
.social-media {
    margin-top: 2rem;
    text-align: center;
}

.social-media a {
    margin: 0 5px;
    color: #734d4e;
    font-size: 3em;
    text-decoration: none;
}

.social-media a:hover {
    color: #b0927b;
}


@media (max-width: 600px) {

    .form-container{
        padding: 2rem;
    }

    .form-container img {
        max-width: 300px;
        margin-bottom: 2rem;
    }
    
    
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .thank-you-message {
        text-align: center;
        font-size: 15px;
    }

    .social-media a {
        font-size: 2.5em;
    }
}




/*----------------------------------------------------------------------------------------------------- Footer ------------------------------------------------------------------------------------------------------------ */ 








footer {
    width: 100%;
    padding: 10px 0;
    background-color: #b0927b; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
    text-align: center;
}

.footer-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: opacity 0.3s ease;
}

.footer-link:hover {
    opacity: 0.8;
}

.footer-logo {
    margin-left: 10px;
    height: 30px;
    width: auto;
}

.footer-text {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
}

.footer-content p {
    margin: 0 !important;
}





